@font-face {
    font-family: "Bevan";
    src: url("Bevan-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red !important; */
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none; /* Запретить выделение текста */
  -moz-user-select: none; /* Для Firefox */
  -webkit-user-select: none; /* Для Safari */
  -ms-user-select: none; /* Для IE */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.75s ease-out;
  background-color: #000;
}

#webgl-canvas {
  position: fixed;
  top: -20px !important;
  left: -20px !important;
  right: -20px !important;
  bottom: -20px !important;
  width: calc(100vw + 40px) !important;
  height: calc(100vh + 40px) !important;
  z-index: 0; 
}

.topics {
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  z-index: 3; 
}

.particles-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  mix-blend-mode: difference;
  z-index: 1;
}

/* СТИЛИ ДЛЯ КАРТОЧКИ _________________________________________________________________________________________________________________________________________________________________________________________*/

.card {
  animation: cardFadeIn 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  background-color: rgba(255, 255, 255, 0.05); 
  background-size: cover;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  border: 2.5px solid black;
  box-shadow: 
    0 6px 12px rgba(255, 255, 255, 0.6),  
    0 3px 6px rgba(15, 11, 11, 0.6); 
}

.card { 
  background-image: 
    linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%),
    linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%);
  background-size: 40px 40px;
  background-position: 0 0;
}

.card {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.title, .speciality, .social-links {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.card.has-transform {
  transition: transform 0.1s linear;
  transition: all 100ms linear;
}

.title.has-transform,
.speciality.has-transform,
.social-links.has-transform {
  transition: transform 0.1s linear;
  transform: translateZ(100px) !important;
}

@keyframes cardFadeIn {
  0% {
   transform: translateY(50px) scale(0.9);
  }
  70% {
    transform: translateY(-10px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.card.animation-complete {
  animation: none;
  transform: none;
}

/* СТИЛИ ДЛЯ ИКОНОК-КНОПОК _________________________________________________________________________________________________________________________________________________________________________________________*/

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 170px; 
}

.button-container {
  margin: 6px;
  animation: reveal3D 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
}

.button-container:nth-child(1) {
  animation-delay: 0.3s, 1.3s;
}
.button-container:nth-child(2) {
  animation-delay: 0.5s, 1.5s;
}
.button-container:nth-child(3) {
  animation-delay: 0.7s, 1.7s;
}
.button-container:nth-child(4) {
  animation-delay: 0.9s, 1.9s;
}
.button-container:nth-child(5) {
  animation-delay: 1.1s, 2.1s;
}

.button {
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover { 
  border: 0px solid white; 
  border-radius: 20%; 
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 
    0 2px 4px rgba(255, 255, 255, 0.6),  
    0 1px 2px rgba(255, 255, 255, 0.6); 
  background-image: 
  radial-gradient(circle at center, transparent 58%, rgba(255,255,255,0.3) 60%, transparent 62%);
  background-size: 10px 10px;
  background-position: 0 0, 10px 10px;
} 

.button-container:hover .icon_image {
  display: none;
}

.button-container:hover .icon_below{
  display:block
}

.icon_image {
  border: 2px solid black; 
  padding: 7px; 
  border-radius: 10px; 
  position: relative; 
  background-color: rgba(255, 255, 255, 0.25); 
  box-shadow: 
    0 2px 4px rgba(255, 255, 255, 0.6),  
    0 1px 2px rgba(255, 255, 255, 0.6); 
  background-image: 
  radial-gradient(circle at center, transparent 58%, rgba(255,255,255,0.3) 60%, transparent 62%);
  background-size: 10px 10px;
  background-position: 0 0, 10px 10px;
}

.icon_image {
  fill: transparent; 
  stroke: #000; 
  stroke-width: 12; 
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  width: 57px;
  height: 57px;
  animation: icon_draw 5s ease;
}

@keyframes icon_draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.icon_below {
  display: none; 
  position: absolute; 
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 4;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: iconBorder_draw 3s ease;
}

@keyframes iconBorder_draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.button-container {
  animation: reveal3D 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
}

.button-container:nth-child(1) {
  animation-delay: 0.3s, 1.3s;
}
.button-container:nth-child(2) {
  animation-delay: 0.5s, 1.5s;
}
.button-container:nth-child(3) {
  animation-delay: 0.7s, 1.7s;
}
.button-container:nth-child(4) {
  animation-delay: 0.9s, 1.9s;
}
.button-container:nth-child(5) {
  animation-delay: 1.1s, 2.1s;
}

@keyframes reveal3D {
  0% {
    opacity: 0;
    transform: rotateX(90deg) scale(0.5) translateZ(50px);
  }
  70% {
    opacity: 1;
    transform: rotateX(-10deg) scale(1.1) translateZ(10px);
  }
  100% {
    transform: rotateX(0) scale(1) translateZ(0);
  }
} 

/* СТИЛИ ДЛЯ ТЕГА h1, h2 ________________________________________________________________________________________________________________________________________________________________________________________________*/
  
h1, h2 {
  pointer-events: none;
  font-family: "Bevan", "sans-serif";
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;

}

h1 {
  font-size: 60px;
  margin-bottom: 0px; 
  animation-name: revealText;
  animation-delay: 0.3s;
  text-shadow: 
    0 2px 5px rgba(255, 255, 255, 0.4),  
    0 1px 3px rgba(255, 255, 255, 0.6),  
    0 1px 1px rgba(255, 255, 255, 0.8),  
    0 -1px 1px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 30px;
  line-height: 1.2em;
  margin-bottom: 105px;
  animation-name: revealText;
  animation-delay: 0.5s; 
  text-shadow: 
    0 1.7px 4px rgba(255, 255, 255, 0.4),  
    0 0.8px 2.5px rgba(255, 255, 255, 0.5), 
    0 0.8px 0.8px rgba(255, 255, 255, 0.6),
    0 -0.8px 0.8px rgba(255, 255, 255, 0.4); 
}

h1:nth-of-type(n+2), h2:nth-of-type(n+2) {
  animation-delay: calc(var(--delay-base, 0.3s) + 0.2s * (var(--index, 0)));
}

@keyframes revealText{
  0% {
    opacity: 0;
    filter: brightness(0.6);
    transform: translateY(40px) scale(0.9);
  }
  70% {
    opacity: 1;
    filter: brightness(1.2);
    transform: translateY(-5px) scale(1.03);
  }
  100% {
    filter: brightness(1);
    transform: translateY(0) scale(1);
  }
}

/* МЕДИА ________________________________________________________________________________________________________________________________________________________________________________________________*/

@media (orientation: portrait),
       (max-width: 1024px) {
  .card {
    width: 110%;
    height: auto; 
    padding: 20px;
    margin-bottom: 20px;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
    background-image: none; 
  }
}

@media (max-width: 430px) {
  .card .button-container {
    margin: 4px; 
  }

  .card h1 {
    font-size: 56px;
  }
}

@media (max-width: 1024px) {
  .card .social-links {
     margin-bottom: -10vh;
  }

  .card h1 {
     margin-bottom: 5vh;
  }

  .card h2 {
    margin-bottom: 25vh;
  }
}

@media (width: 1024px) and (height: 1366px) {
  #webgl-canvas {
    width: 101%;
    height: 101%;
  }
}