<style>

/* СТИЛИ ДЛЯ КНОПОК,ИКОНОК СОЦСЕТЕЙ _________________________________________________________________________________________________________________________________________________________________________________________*/

 /* Стили для контейнера кнопки */
.button-container {
  display: inline-block; /* Отображать контейнер как строчно-блочный элемент */
  height: 6rem; /* Высота контейнера */
  width: 6rem; /* Ширина контейнера */
  margin: 0 1.75rem; /* Отступы по горизонтали */
}

.button {
  transition: color 0.5s linear; /* Плавный переход цвета при изменении */
  height: 4.5rem; /* Высота кнопки */
  width: 4.5rem; /* Ширина кнопки */
  color: #FFFFFF; /* Цвет текста кнопки белый*/
  display: table-cell; /* Отображать кнопку в виде ячейки таблицы */
  vertical-align: middle; /* Выравнивать по вертикали */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убрать подчеркивание ссылки */
  position: relative; /* Позиционирование относительно родительского элемента */
  z-index: 1; /* Позиция элемента по оси Z */
  border-radius: 25%; /* Радиус скругления углов кнопки */
}

/* Стили для иконки */
.icon {
  height: 4.5rem; /* Высота иконки */
  width: 4.5rem; /* Ширина иконки */
  padding: 1rem; /* Отступы внутри иконки */
  color: initial; /* Исходный цвет иконки */
}

/* Стили для заголовка иконки */
.icon_title {
  font-size: 0.75rem; /* Размер шрифта заголовка иконки 0.75 */
}

/* Стили для кнопки при наведении курсора */
.button:hover {
  background-color: ${e=>{let{$theme:t}=e;return t.shadowColor}}; /* Цвет фона при наведении      ${e=>{let{$theme:t}=e;return t.shadowColor}};   */
  box-shadow: 0 0 0.75rem 0.75rem rgba(128, 128, 128, 0.25); /* Тень кнопки */
}

/* Cкрывает иконку при наведении курсора на кнопку с классом "button */
.button:hover .icon {
  visibility: hidden;
}
  
/* Стили для состояния кнопки при нажатии */
.button:active {
  -webkit-transform: scale(0.9); /* Уменьшение размера кнопки */
  transform: scale(0.9); /* Уменьшение размера кнопки */
}

/* Стили для заголовка иконки внутри контейнера кнопки */
.button-container .icon_title {
  display: none; /* <----  Скрытие заголовка иконки по умолчанию */
}

/* Стили для отображения заголовка иконки при наведении на контейнер кнопки */
.button-container:hover .icon_title {
  display: initial; /* Отображение заголовка иконки при наведении */
}

/* Класс .button-container используется для контейнера кнопки. 
   Он делает контейнер гибким и центрирует его содержимое. */
.button-container {
  display: flex; /* Свойство `display: flex;` делает контейнер гибким. */
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое контейнера по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое контейнера по вертикали. */
  flex-wrap: wrap; /* позволяет элементам внутри контейнера переноситься на новую строку, если они не помещаются на одной строке*/
}

/* Класс .button используется для кнопки. 
   Он делает кнопку гибкой и центрирует ее содержимое. */
.button {
  display: flex; /* Свойство `display: flex;` делает кнопку гибкой. */
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое кнопки по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое кнопки по вертикали. */
  flex-direction: row; /*делает кнопки горизонтальными*/
  margin: 0.5rem; /* добавили свойство margin: 0.5rem; для класса .button, чтобы добавить небольшой отступ между кнопками */
}

/* Класс .icon_title используется для заголовка иконки. 
   Он делает текст заголовка по центру. */
.icon_title {
  text-align: center; /* Свойство `text-align: center;` центрирует текст заголовка. */
}
 {
  margin: 0; /* Устанавливает отступы на 0 для всех элементов */
  padding: 0; /* Устанавливает отступы на 0 для всех элементов */
  border: 0; /* Устанавливает границы на 0 для всех элементов */
  font-size: 100%; /* Устанавливает размер шрифта на 100% для всех элементов */
  /*font: inherit; /* Устанавливает шрифт на наследуемый для всех элементов */
  vertical-align: baseline; /* Устанавливает выравнивание по базовой линии для всех элементов */
}

/* Устанавливает отображение элементов как блочные для следующих элементов: article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; /* Устанавливает отображение элементов как блочные */
}

/* Устанавливает высоту строки на 1 для элемента body */
body {
  line-height: 1; /* Устанавливает высоту строки на 1 для элемента body */
}

/* Удаляет маркеры списка для элементов ol и ul */
ol, ul {
  list-style: none; /* Удаляет маркеры списка для элементов ol и ul */
}

/* Удаляет кавычки для элементов blockquote и q */
blockquote, q {
  quotes: none; /* Удаляет кавычки для элементов blockquote и q */
}

/* Удаляет содержимое и кавычки для псевдоэлементов :before и :after элементов blockquote и q */
blockquote:before, blockquote:after, q:before, q:after {
  content: ''; /* Устанавливает содержимое на пустую строку для псевдоэлементов :before и :after элементов blockquote и q */
  content: none; /* Удаляет содержимое для псевдоэлементов :before и :after элементов blockquote и q */
}

/* Устанавливает сжатие границ и отсутствие расстояния между ячейками для элемента table */
table {
  border-collapse: collapse; /* Устанавливает сжатие границ для элемента table */
  border-spacing: 0; /* Устанавливает отсутствие расстояния между ячейками для элемента table */
}

  .button-container:hover .icon_image {
  display: none; /* Скрытие иконки при наведении */
}

.button-container:hover .icon_title {
  display: initial; /* Отображение заголовка иконки при наведении */
}

/* BODY HTML INTRO _______________________________________________________________________________________________________________________________________________________________________*/

@font-face {/*шрифт*/
  font-family: 'Outline';
  src: url('assets/Kum.ttf') format('truetype');
}

h2 {
  font-family: 'Outline', sans-serif;
}



* {
  -webkit-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Webkit */
  -moz-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Mozilla */
  box-sizing: border-box; /* Устанавливает box-sizing на border-box для всех остальных браузеров */
}

html, body {
  width: 100%; /* Устанавливает ширину на 100% */
  height: 100%; /* Устанавливает высоту на 100% */
  overflow: hidden; /* Скрывает переполнение */
}

body {
  background: #000010; /* Устанавливает фоновый цвет на черный */
  font-family: 'Montserrat', sans-serif; /* Устанавливает шрифт на Montserrat */
  color: #fff; /* Устанавливает цвет текста на белый */
  line-height: 1.3; /* Устанавливает высоту строки на 1.3 */
  -webkit-font-smoothing: antialiased; /* Устанавливает сглаживание шрифта на антиалиасинг */
 }

.intro {
  position: absolute; /* Устанавливает позиционирование элемента #intro на абсолютное */
  left: 50%; /* Устанавливает левый отступ на 0 для элемента #intro */
  top: 50%; /* Устанавливает верхний отступ на 50% для элемента #intro */
  padding: 0 10px; /* Добавляет отступы слева и справа по 10px для элемента #intro */
  text-align: center; /* Выравнивает текст по центру для элемента #intro */
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 600px); /* Здесь 200px - это высота других элементов на странице, которую вы хотите вычесть */

}

/* СТИЛИ ДЛЯ ТЕГА h2 ________________________________________________________________________________________________________________________________________________________________________________________________*/

h2 {
  text-transform: uppercase; /* Устанавливает текст в верхний регистр */
  font-family: 'cursive'; /* Устанавливает семейство шрифта на 'cursive' */
  font-weight: 10; /* Устанавливает вес шрифта на 10 */
  font-size: 70px; /* Измените размер шрифта на 60 пикселей */
  stroke-width: 68px; /* Устанавливает толщину штриха на 68 пикселей */
  color: #ffffff; /* Устанавливает цвет текста на белый */
  text-align: center; /* Выравнивает текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу */
  text-transform: capitalize; /*свойство преобразует весь текст в нижний регистр, за исключением первой буквы каждого слова, которая остается в верхнем регистре*/
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #000000; /* Устанавливает цвет текста на черный */
}

/*СТИЛИ ДЛЯ БЛОКА СОЦИАЛЬНЫХ ССЫЛОК _________________________________________________________________________________________________________________________________________________________________________________________*/

 .social-links {
  display: flex; /* Устанавливаем дисплей на flex, чтобы выровнять элементы по центру */
  justify-content: center; /* Выравниваем элементы по горизонтали */
  align-items: center; /* Выравниваем элементы по вертикали */
  margin: 0px 0; /* Добавляем отступ сверху и снизу */
}

/*________________________________________________________________________________________________________________________________________________________________________________________*/

@media only screen and (max-width: 1000px) { /* - это медиа-запрос, который применяется только к экранам с шириной не более 1000 пикселей. Внутри этого медиа-запроса, стили для h1 изменяются, чтобы установить размер шрифта на 15 пикселей.*/
  h1 {
      font-size: 15px;
 }
 }
@media only screen and (max-width: 100px) { /* - это медиа-запрос, который применяется только к экранам с шириной не более 100 пикселей. Внутри этого медиа-запроса, стили для h1 изменяются, чтобы установить размер шрифта на 15 пикселей и добавить псевдоэлемент :after с высотой 8 пикселей.*/
  h1 {
      font-size: 15px;
 }
  h1::after {
      height: 8px;
 }
}
@media only screen and (max-width: 100px) { /* - это медиа-запрос, который применяется только к экранам с шириной не более 100 пикселей. Внутри этого медиа-запроса, стили для h1 изменяются, чтобы установить размер шрифта на 15 пикселей и добавить псевдоэлемент :after с высотой 6 пикселей. Также, стили для p изменяются, чтобы установить размер шрифта на 18 пикселей, и стили для .btn изменяются, чтобы установить размер шрифта на 16 пикселей.
*/
  #intro {
      padding: 0 10px;
 }
  h1 {
      font-size: 15px;
 }
  h1::after {
      height: 6px;
 }
  p {
      font-size: 18px;
 }
  .btn {
      font-size: 16px;
 }
}
@media only screen and (max-width: 100px) { /*- это медиа-запрос,для изменения стилей элементов в зависимости от ширины экрана. Внутри этого медиа-запроса, стили для h1 изменяются, чтобы установить размер шрифта на 15 пикселей и добавить псевдоэлемент :after с высотой 4 пикселя. */
  h1 {
      font-size: 15px;                      /*Медиа-запросы позволяют адаптировать веб-страницу под различные устройства, такие как смартфоны или планшеты. В данном случае, если ширина экрана не превышает 100 пикселей, то размер шрифта для элемента h1 будет уменьшен до 15 пикселей, а высота псевдоэлемента :after будет установлена на 4 пикселя.*/
  h1::after {
      height: 4px;
  }
 }

@media only screen and (max-width: 600px) { /* если ширина экрана меньше или равна 600px, стили для элементов h2 и .social-links будут изменены, адаптация под смартфон*/
  h2 {
    font-size: 30px;
  }

  .social-links {
    display: block;
    text-align: center;
  }

  .social-links a {
    display: inline-block;
    margin: 5px;
  }
}
</style>
