/* СТИЛИ ДЛЯ КНОПОК,ИКОНОК СОЦСЕТЕЙ _________________________________________________________________________________________________________________________________________________________________________________________*/

 /* Стили для блока социальных ссылок */
.social-links {
  display: flex; /* Выравнивает элементы по центру */
  justify-content: center; /* Выравниваем элементы по горизонтали */
  align-items: center; /* Выравниваем элементы по вертикали */
 }

/* Стили для контейнера кнопки */
.button-container {
  height: 6rem; /* Высота контейнера */
  width: 6rem; /* Ширина контейнера */
  margin: 0.1px; /* Отступы по горизонтали */
  flex-wrap: wrap; /* позволяет элементам внутри контейнера переноситься на новую строку, если они не помещаются на одной строке*/
  display: flex;
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое контейнера по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое контейнера по вертикали. */
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #000000; /* Устанавливает цвет текста на черный */
}

.button {
  transition: color 0.5s linear; /* Плавный переход цвета при изменении */
  height: 4.5rem; /* Высота кнопки */
  width: 4.5rem; /* Ширина кнопки */
  color: #FFFFFF; /* Цвет текста кнопки белый*/
  display: table-cell; /* Отображать кнопку в виде ячейки таблицы */
  vertical-align: middle; /* Выравнивать по вертикали */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убрать подчеркивание ссылки */
  position: relative; /* Позиционирование относительно родительского элемента */
  z-index: 1; /* Позиция элемента по оси Z */
  border-radius: 25%; /* Радиус скругления углов кнопки */
  font-size: 0.75rem; /* Размер шрифта заголовка иконки 0.75 */
}

/* Стили для кнопки при наведении курсора */
.button:hover {
  background-color: ${e=>{let{$theme:t}=e;return t.shadowColor}}; /* Цвет фона при наведении      ${e=>{let{$theme:t}=e;return t.shadowColor}};   */
  box-shadow: 0 0 0.75rem 0.75rem rgba(128, 128, 128, 0.25); /* Тень кнопки */
}

/* Стили для состояния кнопки при нажатии */
.button:active {
  -webkit-transform: scale(0.9); /* Уменьшение размера кнопки */
  transform: scale(0.9); /* Уменьшение размера кнопки */
}

/* Стили для заголовка иконки внутри контейнера кнопки */
.button-container .icon_title {
  display: none; /* <----  Скрытие заголовка иконки по умолчанию */
}

/* Класс .button используется для кнопки. 
   Он делает кнопку гибкой и центрирует ее содержимое. */
.button {
  display: flex; /* Свойство `display: flex;` делает кнопку гибкой. */
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое кнопки по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое кнопки по вертикали. */
  flex-direction: row; /*Делает кнопки горизонтальными*/
  margin: 0.5rem; /* Добавляет небольшой отступ между кнопками */
}

/* Класс .icon_title используется для заголовка иконки. 
   Он делает текст заголовка по центру. */
.icon_title {
  text-align: center; /* Свойство `text-align: center;` центрирует текст заголовка. */
  margin: 0; /* Устанавливает отступы на 0 для всех элементов */
  padding: 0; /* Устанавливает отступы на 0 для всех элементов */
  border: 0; /* Устанавливает границы на 0 для всех элементов */
  font-size: 100%; /* Устанавливает размер шрифта на 100% для всех элементов */
  /*font: inherit; /* Устанавливает шрифт на наследуемый для всех элементов */
  vertical-align: baseline; /* Устанавливает выравнивание по базовой линии для всех элементов */
}

.button-container:hover .icon_image {
  display: none; /* Скрытие иконки при наведении */
}

.button-container:hover .icon_title {
  display: initial; /* Отображение заголовка иконки при наведении */
}

/* BODY HTML INTRO _______________________________________________________________________________________________________________________________________________________________________*/

* {
  -webkit-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Webkit */
  -moz-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Mozilla */
  box-sizing: border-box; /* Устанавливает box-sizing на border-box для всех остальных браузеров */
}

html, body {
  width: 100%; /* Устанавливает ширину на 100% */
  height: 100%; /* Устанавливает высоту на 100% */
  overflow: hidden; /* Скрывает переполнение */
}

body {
  background: #000010; /* Устанавливает фоновый цвет на черный */
  font-family: 'Montserrat', sans-serif; /* Устанавливает шрифт на Montserrat */
  color: #fff; /* Устанавливает цвет текста на белый */
  line-height: 1.3; /* Устанавливает высоту строки на 1.3 */
  -webkit-font-smoothing: antialiased; /* Устанавливает сглаживание шрифта на антиалиасинг */
 }

.intro {
  position: absolute; /* Устанавливает позиционирование элемента #intro на абсолютное */
  left: 50%; /* Устанавливает левый отступ на 0 для элемента #intro */
  top: 50%; /* Устанавливает верхний отступ на 50% для элемента #intro */
  padding: 0 10px; /* Добавляет отступы слева и справа по 10px для элемента #intro */
  text-align: center; /* Выравнивает текст по центру для элемента #intro */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 800px); /* Здесь 200px - это высота других элементов на странице, которую вы хотите вычесть */
}

 /* СТИЛИ ДЛЯ ТЕГА h2 ________________________________________________________________________________________________________________________________________________________________________________________________*/

@font-face { /* Устанвливает загруженный шрифт "Kumar One Outline" ("Outline") */
  font-family: "Outline";
  src: url("Kum.ttf") format("truetype");
}

h2 {
  text-transform: uppercase; /* Устанавливает текст в верхний регистр */
  font-family: "Outline"; /* Семейство шрифта на 'Outline' */
  font-weight: 10; /* Вес шрифта на 10 */
  font-size: 50px; /* Размер шрифта 60 пикселей */
  stroke-width: 68px; /* Толщинф штриха  68 пикселей */
  color: #ffffff; /* Цвет текста белый */
  text-align: center; /* Выравнивает текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу */
  text-transform: capitalize; /*свойство преобразует весь текст в нижний регистр, за исключением первой буквы каждого слова, которая остается в верхнем регистре*/
}




/*________________________________________________________________________________________________________________________________________________________________________________________*/

